:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-transition-duration: 250ms;
  --main-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4 {
  color: var(--title-text-color);
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--title-text-color);
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .header {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
  }
}

.header__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 35px;
}

@media screen and (min-width: 480px) {
  .header__text {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header__text {
    width: 768px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .header__text {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .mob-menu {
    position: fixed;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }
  .mob-menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
  }
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mob-menu__close {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: 0px;
  }
  .mob-menu__close:hover, .mob-menu__close:focus {
    fill: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .mob-menu__list {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .mob-menu__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    display: block;
  }
  .mob-menu__item:not(:last-child) {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 767px) {
  .mob-menu__link {
    display: block;
    transition: color var(--main-transition-duration) var(--main-cubic-bezier);
  }
  .mob-menu__link:hover, .mob-menu__link:focus {
    color: var(--accent-color);
  }
}

.mob-menu__contacts {
  margin-top: auto;
}

.mob-menu__phone {
  color: #2196f3;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 480px) {
  .mob-menu__phone {
    font-size: 34px;
  }
}

.mob-menu__phone .mob-menu__contacts__link {
  color: var(--accent-color);
}

.mob-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-top: 32px;
}

.mob-menu__mail .mob-menu__contacts__link {
  color: #757575;
}

.social-list {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  position: relative;
  margin-top: auto;
}

.social-list__link {
  color: var(--accent-color);
}

.social-list__item:not(:last-child) {
  margin-right: 20px;
}

.social-list__item:not(:last-child)::after {
  content: '';
  border: 1px solid rgba(33, 33, 33, 0.2);
  position: absolute;
  width: 22px;
  top: 50%;
  transform: rotate(90deg);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
  transition: color var(--main-transition-duration) var(--main-cubic-bezier);
}

.logo:hover, .logo:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__accent {
  color: var(--accent-color);
}

.logo-footer {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition: color var(--main-transition-duration) var(--main-cubic-bezier);
}

.logo-footer:hover, .logo-footer:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .navigate__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigate__list {
    display: flex;
    color: var(--accent-color);
  }
}

.active {
  color: var(--accent-color);
}

.active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border: 2px solid;
  border-radius: 2px;
  color: var(--accent-color);
  background-color: var(--accent-color);
}

.navigate__item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
}

.navigate__item:not(:last-child) {
  margin-right: 50px;
}

.navigate__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color var(--main-transition-duration) var(--main-cubic-bezier);
}

.navigate__link:hover, .navigate__link:focus {
  color: var(--accent-color);
}

.contacts {
  display: none;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    margin-left: 84px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child), .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: baseline;
  transition: color var(--main-transition-duration) var(--main-cubic-bezier);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contacts__link {
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
    height: 100%;
  }
}

.contacts__icon {
  fill: #757575;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  object-fit: contain;
  display: block;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  transition: fill var(--main-transition-duration) var(--main-cubic-bezier);
}

.contacts__link:hover > .contacts__icon,
.contacts__link:focus > .contacts__icon {
  fill: var(--accent-color);
}

.heroes {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroes/hero-mob-min.jpg);
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid #c4c4c4;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  background-color: #424242;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .heroes {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroes/hero-mob2-min.jpg);
  }
}

@media screen and (min-width: 480px) {
  .heroes {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .heroes {
    width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroes/hero-tablet-min.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .heroes {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroes/hero-tablet2-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .heroes {
    min-width: 1200px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroes/hero-max-min.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .heroes {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroes/hero-max2-min.jpg);
  }
}

.heroes__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .heroes__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .heroes__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.header__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.header__button:hover, .header__button:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.button-order {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}

.follow-button {
  /* display: inline-block; */
  width: 200px;
  padding-left: 29px;
  padding-top: 10px;
  padding-right: 62px;
  padding-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}

.follow-button__icon {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}

.button-submit {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.why {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .why {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .why__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.why__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .why__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px), (max-width: 1199px) {
  .why__item {
    width: 354px;
    flex-basis: calc((100% - 30px) / 2);
  }
  .why__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .why__item {
    width: 270px;
    flex-basis: calc((100% - 90px) / 4);
  }
  .why__item:not(:last-child) {
    margin-right: 30px;
  }
}

.why__box {
  max-width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .why__box {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .why__box {
    width: 270px;
  }
}

.why__title {
  text-align: center;
}

.why__description {
  margin-top: 10px;
  margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .doing {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .doing {
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
  }
}

.doing__title,
.team__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.doing__list {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.doing__item {
  position: relative;
}

.doing__item:not(:last-child) {
  margin-right: 30px;
}

.doing__img {
  display: block;
}

.doing--item-title {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  padding: 27px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}

.icon-box {
  display: flex;
  justify-content: center;
}

.icon-box__link {
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color var(--main-transition-duration) var(--main-cubic-bezier), fill var(--main-transition-duration) var(--main-cubic-bezier), border-radius var(--main-transition-duration) var(--main-cubic-bezier);
}

.icon-box__link:hover, .icon-box__link:focus {
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
}

.icon-box__item {
  width: 44px;
  height: 44px;
}

.icon-box__item:not(:last-child) {
  margin-right: 10px;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 2);
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    margin-top: 50px;
  }
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__foto {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__work {
  font-size: 16px;
  line-height: 1.19;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 16px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.clients__item {
  width: 210px;
  height: 92px;
  flex-basis: calc((100% - 60px) / 2);
}

.clients__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.clients__item:not(:nth-child(n + 5)) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
  .clients__item:not(:nth-child(n + 4)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    margin-bottom: 0;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
  .clients__item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
  .clients__item:nth-child(4) {
    margin-bottom: 0;
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: border-color var(--main-transition-duration) var(--main-cubic-bezier);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill var(--main-transition-duration) var(--main-cubic-bezier);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.select-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 767px) {
  .select-list {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.select-list__item {
  margin-bottom: 15px;
}

.select-list__item:not(:last-child) {
  margin-right: 8px;
}

.select-list__button {
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  transition: background-color var(--main-transition-duration) var(--main-cubic-bezier), color var(--main-transition-duration) var(--main-cubic-bezier), box-shadow var(--main-transition-duration) var(--main-cubic-bezier);
}

.select-list__button:hover, .select-list__button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 60px;
}

@media screen and (min-width: 767px) {
  .portfolio__list {
    flex-basis: calc((100% - 30px) / 2);
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    flex-basis: calc((100% - 60px) / 3);
    margin-top: 34px;
    margin-bottom: 94px;
  }
}

.portfolio__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .portfolio__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio__item:nth-child(2n) {
    margin-right: 0px;
  }
  .portfolio__item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .portfolio__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .portfolio__item--last {
    margin-right: auto;
  }
}

.portfolio__link {
  display: block;
  background: #ffffff;
  transition: box-shadow var(--main-transition-duration) var(--main-cubic-bezier);
}

.portfolio__link:focus, .portfolio__link:hover {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__box {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--main-transition-duration) var(--main-cubic-bezier);
}

.portfolio__item:focus .portfolio__overlay,
.portfolio__item:hover .portfolio__overlay {
  transform: translateY(0%);
  overflow: visible;
}

.portfolio__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio__subtitle {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio__subtitle--project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__subtitle--type {
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__box {
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    flex-wrap: nowrap;
    align-items: baseline;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__box--left {
    margin-right: 165px;
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box--left {
    margin-right: 70px;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .footer__box--right {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box--right {
    margin-right: 93px;
  }
}

.footer--right-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-addres {
  font-style: normal;
  margin-top: 20px;
}

.footer-addres__link {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--main-transition-duration) var(--main-cubic-bezier);
}

.footer-addres__map {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color var(--main-transition-duration) var(--main-cubic-bezier);
  white-space: nowrap;
}

.footer-addres__map:hover, .footer-addres__map:focus {
  color: var(--accent-color);
}

.footer-addres__link.link:hover,
.footer-addres__link.link:focus {
  color: var(--accent-color);
}

.network {
  display: flex;
}

@media screen and (max-width: 767px) {
  .network {
    justify-content: center;
  }
}

.network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--main-transition-duration) var(--main-cubic-bezier);
}

.network__link:hover, .network__link:focus {
  background-color: var(--accent-color);
}

.network__item:not(:last-child) {
  margin-right: 10px;
}

.network__icon {
  fill: #ffffff;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .follow {
    margin-left: 146px;
  }
}

@media screen and (max-width: 1199px) {
  .follow {
    margin-top: 60px;
  }
}

.follow__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.follow__form {
  display: flex;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .follow__form {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .follow__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.follow__input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 450px;
  height: 50px;
  background: transparent;
  display: block;
  transition: border-color var(--main-transition-duration) var(--main-cubic-bezier);
}

.follow__input::placeholder {
  font-size: 16px;
}

.follow__input:hover, .follow__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .follow__input {
    width: 358px;
    height: 50px;
  }
}

.follow__box {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .follow__box {
    margin-top: 20px;
  }
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility var(--main-transition-duration) var(--main-cubic-bezier), opacity var(--main-transition-duration) var(--main-cubic-bezier);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  padding: 40px;
}

.button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  right: 8px;
  top: 8px;
}

.button-close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-close:hover > .button-close__icon,
.button-close:focus > .button-close__icon {
  fill: var(--accent-color);
}

.modal-form__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__box {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0%, -50%);
  transition: fill var(--main-transition-duration) var(--main-cubic-bezier);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__input {
  display: block;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border var(--main-transition-duration) var(--main-cubic-bezier);
}

.modal-form__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.modal-form__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
  margin-bottom: 18px;
  transition: border var(--main-transition-duration) var(--main-cubic-bezier);
}

.modal-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.checkbox {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
}

.checkbox__input {
  visibility: hidden;
}

.checkbox__label {
  display: flex;
  align-items: center;
}

.checkbox__label::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  transition: border-color var(--main-transition-duration) var(--main-cubic-bezier), background var(--main-transition-duration) var(--main-cubic-bezier);
}

.checkbox__input:checked + .checkbox__label::before {
  background: var(--accent-color);
  background-image: url(../images/modal/chek-modal.svg);
  border-color: var(--accent-color);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.checkbox:focus + .checkbox__label::before {
  border: 2px solid var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.chekbox__link {
  margin-left: 3px;
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */