footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__box {
  display: block;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    align-items: baseline;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__box--left {
  @media screen and (min-width: 768px) {
    margin-right: 165px;
    margin-left: 76px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-left: auto;
  }
}

.footer__box--right {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer--right-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
