.why {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.why__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.why__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    flex-basis: calc((100% - 30px) / 2);

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    &:nth-child(n + 2) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 90px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.why__box {
  max-width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and(min-width: 768px) {
    width: 354px;
  }

  @media screen and(min-width: 1200px) {
    width: 270px;
  }
}

.why__title {
  text-align: center;
}

.why__description {
  margin-top: 10px;
  margin-bottom: 0;
}
