.footer-addres {
  font-style: normal;

  margin-top: 20px;
}

.footer-addres__link {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--main-transition-duration) var(--main-cubic-bezier);
}

.footer-addres__map {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color var(--main-transition-duration) var(--main-cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-addres__link.link:hover,
.footer-addres__link.link:focus {
  color: var(--accent-color);
}