.follow {
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    margin-left: 146px;
  }
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }

}

.follow__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
}

.follow__form {
  
  display: flex;
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
  }
}

.follow__input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  color: #ffffff;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 450px;
  height: 50px;
  background: transparent;
  display: block;
  transition: border-color var(--main-transition-duration)
    var(--main-cubic-bezier);

  &::placeholder {
    font-size: 16px;
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    height: 50px;
  }
}

.follow__box {
  position: relative;
  @media screen and (max-width: 1199px) {
    margin-top: 20px;
  }
}