.logo {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;

  margin-right: 93px;
  transition: color var(--main-transition-duration) var(--main-cubic-bezier);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.logo__accent {
  color: var(--accent-color);
}

.logo-footer {
  color: #ffffff;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  transition: color var(--main-transition-duration) var(--main-cubic-bezier);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
