:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-transition-duration: 250ms;
  --main-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}